@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fuente: "Montserrat", sans-serif;
  --rojo-principal: #c9002c;
  --blanco: #ffffff;
  --blanco-secundario: #f0f0f0;
  --negro: #000000;
  --gris-claro: #999999;
  --borde: 5px;
  --trancision-botones: all 0.3 ease;
  --ancho-contenedor: 1280px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuente);
}

.h2-customizado {
  font-size: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #be0000;
}

/* Navbar */

header {
  background-color: var(--blanco);
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .centrado {
  margin: 0 auto;
  width: var(--ancho-contenedor);
}

header figure img {
  width: 140px;
  height: 90px;
  margin: 10px;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header nav ul li {
  margin: 0 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #8c857b;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}

.links a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: var(--rojo-principal);
  transition: var(--trancision-botones);
}

.links a:hover::after {
  width: 77%;
}

li :hover {
  color: var(--rojo-principal);
}

/* Mas informacion */

#mas-informacion {
  background-image: url("img/bariloche-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  height: 90vh;
}

#mas-informacion .centrado .contenido {
  padding: 80px 0;
}

#mas-informacion .centrado .contenido p {
  color: var(--blanco);
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
  width: 50%;
  text-shadow: 0px 0px 5px var(--negro);
}

#mas-informacion .centrado .contenido h1 {
  font-size: 55px;
  margin: 10px 0;
  color: var(--blanco);
  text-shadow: 0px 0px 5px var(--negro);
}

#mas-informacion .centrado .contenido a {
  background-color: var(--rojo-principal);
  color: var(--blanco);
  font-family: var(--fuente);
  font-size: 15px;
  padding: 15px 25px;
  border: 1px transparent solid;
  border-radius: var(--borde);
  margin-top: 20px;
  transition: var(--trancision-botones);
  text-decoration: none;
  display: inline-block;
  text-shadow: 0px 0px 5px var(--negro);
}

#mas-informacion .centrado .contenido a:hover {
  background-color: var(--blanco);
  color: var(--rojo-principal);
  border: 1px var(--rojo-principal) solid;
  text-shadow: none;
}

/* Destinos destacados*/

main #destinos-destacados {
  padding: 70px 0px;
  background-color: var(--blanco);
  text-align: center;
}

main #destinos-destacados .destinos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: var(--ancho-contenedor);
  margin: 0 auto;
  gap: 20px;
}

main #destinos-destacados .destinos .destino {
  padding: 5px;
  border-radius: var(--borde);
  background-color: var(--blanco-secundario);
}

main #destinos-destacados .destinos .destino div h3 {
  font-size: 20px;
  color: #0f0f0f;
  margin: 10px 10px;
  text-align: left;
}

main #destinos-destacados .destinos .destino div p {
  font-size: 15px;
  color: #8c857b;
  margin: 10px 10px;
  text-align: left;
}

main #destinos-destacados .destinos .destino figure img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: var(--borde);
}

/* Proximas salidas */

#prox-salidas {
  padding: 70px 0px;
  background-color: #dddddd;
  text-align: center;
}

table {
  width: 70%;
  margin: 20px auto;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: var(--blanco);
  font-size: 15px;
  box-shadow: 1px 1px 8px var(--gris-claro), -1px -1px 8px var(--gris-claro);
}

tbody tr:nth-child(even) {
  background-color: var(--blanco-secundario);
}

table tbody tr td a {
  background-color: var(--blanco);
  color: var(--rojo-principal);
  font-family: var(--fuente);
  font-size: 12px;
  padding: 8px;
  border: 1px var(--rojo-principal) solid;
  border-radius: var(--borde);
  transition: var(--trancision-botones);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

table tbody tr td a:hover {
  background-color: var(--rojo-principal);
  color: var(--blanco);
}

table tbody tr .td-fecha {
  color: var(--rojo-principal);
  font-weight: 600;
}

thead tr th {
  background-color: var(--blanco-secundario);
  color: var(--negro);
  padding: 20px;
  text-align: center;
}

tbody tr td {
  padding: 5px 10px 10px 10px;
  text-align: left;
  font-size: 13px;
}

tbody tr td:nth-child(odd) {
  text-align: center;
}

/* Paquetes */

#comprar-paquetes {
  background: url("img/caribe-img.avif") center/cover;
  display: flex;
  align-items: center;
  height: auto;
}

#comprar-paquetes .centrado {
  margin: 0 auto;
  padding: 20px;
}

.h2-customizado.sombra {
  font-size: 40px;
  padding: 70px 0 20px;
  margin-bottom: 20px;
  color: var(--blanco);
  text-align: center;
  text-shadow: 0 0 5px var(--negro);
}

#comprar-paquetes .centrado .contenido {
  background-color: var(--blanco-secundario);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: var(--borde);
  box-shadow: 1px 1px 8px var(--gris-claro), -1px -1px 8px var(--gris-claro);
}

form h3 {
  font-size: 25px;
  padding-bottom: 40px;
  color: #be0000;
}

label {
  display: block;
  font-size: 15px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
select {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0 20px;
  border: 1px solid var(--gris-claro);
  border-radius: var(--borde);
  font-family: var(--fuente);
}

.contenedor-radio,
.terminos-comprar {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.opcion-radio,
.terminos {
  display: flex;
  align-items: center;
  gap: 5px;
}

.terminos label {
  font-size: 13px;
}

.subir-datos {
  padding: 10px 35px;
  border-radius: var(--borde);
  border: 1px solid var(--rojo-principal);
  background-color: var(--rojo-principal);
  color: var(--blanco);
  font-family: var(--fuente);
  font-weight: 500;
  cursor: pointer;
  transition: var(--trancision-botones);
}

.subir-datos:hover {
  background-color: var(--blanco);
  color: var(--rojo-principal);
}
